@import "Component.scss";

.mr-ink {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;

  border-radius: 100%;
  transform: scale(0);
  transition: transform $anim-slow, opacity $anim-quick;

  &--spilling {
    opacity: 0.6;
    transform: scale(2.5);
  }

  &--drying {
    opacity: 0;
  }
}